<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testRQCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D754EA2520DC9E1300C60896</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D754EA3D20DC9E1500C60896</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D754EA4820DC9E1500C60896</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
